#map {
  position: absolute;
  bottom: 100px;
  left: 50%;
  height: calc(100% - 65px - 100px);
  width: 50%;
  z-index: 1;
  border-radius: 10px;
}

.appTitile{
  color:#5e6cef;
  font-family: Impact;
}

html, body {
  height: 100%;
  margin:0;
  padding: 0;
}


.left-nav {
  position: fixed;
  top: 65px;
  left: 0;
  width: 50%;
  height: calc(100% - 65px);
  background-color: #FFFDFA;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  z-index: 0;
  overflow-y: auto;
  color:rgb(68, 179, 205);
}

.left-nav h3 {
  margin-top: 0;
}

.left-nav input[type="text"],
.left-nav input[type="date"],
.left-nav input[type="time"] {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  box-sizing: border-box;
}

.left-nav button {
  display: block;
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

.left-nav .datetime-inputs {
  margin-top: 20px;
}

.left-nav .date-input,
.left-nav .time-input {
  display: inline-block;
  margin-right: 20px;
}

.top-bar {
  height: 65px;
  width: 100%;
  top: 0;
  background-color: #FFFDFA;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.bottom-bar {
  position: fixed;
  height: 100px;
  left: 50%;
  width: 100%;
  bottom: 0px;
  background-color: #FFFDFA;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  color:#5e6cef;
  align-items: center;
  text-align: left;
  overflow-x: auto;
  flex-direction: row; 
  font-family: Arial;
}

#bottom-bar-items {
  color: rgb(122, 120, 120);
  display: flex;
  margin: 0 10px 0 0;
  padding: 0 0 0 0;
  flex: none;
  align-items: center;
  font-weight: bolder;
}

#bottom-bar-items p {
  color: #5e6cef;
  margin: 0 0 0 10px;
}

.bottom-bar div {
  display: flex;
  margin: 0 10px 0 0;
  padding: 0 0 0 0;
  flex: none;
}

#station-input {
  position: relative;
  z-index: 1000;
}

.availability-section {
  width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:first-child {
  background-color: #d3d3d3;
}

.details-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5cm;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

#detailed-weather-pane {
  position: absolute;
  top: 465px;
  left: 50%;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  z-index: 1200;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  overflow-y: auto;
  font-family: Arial;
}

.detailed-weather-pane.active {
  height: 300px;
}

#temp, #description {
  font-size: 20px;
  font-weight: bold;
  color: rgb(68, 179, 205);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.weather {
  display: inline-block;
  margin-left: 30%;
}

.weather-forecast-btn {
  cursor: pointer;
  border-radius: 5cm;
  width: 100px;
  height: 30px;
  align-items: center;
  background-color: rgb(68, 179, 205);
  color: white;
  border:none;
  font-family: Arial;
  font-weight: bold;
}

#weather-pane {
  position: absolute;
  top: 65px;
  left: 50%;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  /* padding: 5px; */
  text-align: center;
  z-index: 1000; 
  height: 400px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  display: none;
  overflow-y: auto;
  font-family: Arial;
}

#display-charts-btn {
  border-radius: 5cm;
  width: 150px;
  height: 30px;
  align-items: center;
  background-color: rgb(68, 179, 205);
  color: white;
  font-family: Arial;
  font-weight: bold;
}

.theme-btn {
  border-radius: 5cm;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 10px;
  width: 100px;
  background-color: #5e6cef;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: Arial;
  font-weight: bold;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .left-nav {
  background-color: #2c2c2c;
  color: #ccc;
}

.dark-mode .top-bar,
.dark-mode .bottom-bar {
  background-color: #4a4a4a;
}

.dark-mode .left-nav input[type="text"],
.dark-mode .left-nav input[type="date"],
.dark-mode .left-nav input[type="time"] {
  background-color: #555;
  border-color: #666;
  color: #fff;
}

.dark-mode .left-nav button {
  background-color: #666;
  border-color: #777;
  color: #fff;
}

.dark-mode tr:nth-child(even) {
  background-color: #444;
}

.dark-mode tr:nth-child(odd) {
  background-color: #333;
}

.dark-mode tr:first-child {
  background-color: #222;
}

.dark-mode .bottom-bar {
  color:#fff;
}

.dark-mode .detailed-weather-pane {
  color:#5966da;
}

.dark-mode #bottom-bar-items {
  color: #d59563
}